<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="hci.hal9000">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".NotificationSettings" android:parentActivityName=".HomeScreen"/>
        <activity android:name=".DeviceHistory" />
        <activity android:name=".CurtainDetails" android:parentActivityName=".HomeScreen"/>
        <activity android:name=".DoorDetails" android:parentActivityName=".HomeScreen"/>
        <activity
            android:name=".AirDetails"
            android:parentActivityName=".HomeScreen" />
        <activity
            android:name=".OvenDetails"
            android:parentActivityName=".HomeScreen" />
        <activity
            android:name=".QRReader"
            android:parentActivityName=".CreateDevice" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".ChangeIP" android:parentActivityName=".HomeScreen"/>
        <activity
            android:name=".FridgeDetails"
            android:parentActivityName=".HomeScreen" />
        <activity
            android:name=".LightDetails"
            android:parentActivityName=".HomeScreen" />
        <activity
            android:name=".CreateDevice"
            android:parentActivityName=".HomeScreen" />
        <activity
            android:name=".CreateRoom"
            android:parentActivityName=".HomeScreen" />
        <activity
            android:name=".HomeScreen"
            android:launchMode="singleInstance" />
        <activity
            android:name=".MainActivity"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".CheckNotification" />
    </application>

</manifest>